#rtian-calendar {
    min-width: 200px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px #000;
    padding: 5px;
    border-radius: 4px;
    font-family: "Microsoft YaHei", "微软雅黑", "宋体", "Arial", "Helvetica", "sans-serif";
    user-select: none;
    font-size: 14px;
}

#rtian-calendar .yearmonth {
    flex: 0 2em;
    display: flex;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #eee;
    text-shadow: 0 0 1px #567;
    justify-content: center;
    align-items: center;
}

#rtian-calendar .yearmonth div {
    flex: 1;
    text-align: center;
    cursor: default;
}

#rtian-calendar .yearmonth>.month-year {
    flex: 0 0 120px;
}

#rtian-calendar table {
    flex: 1;
}

#rtian-calendar[theme="blank"] table {
    border-collapse: separate;
    border-spacing: 5px;
}

#rtian-calendar[theme="blank"] .day {
    border: 0;
}

#rtian-calendar[theme="grid"] table {
    border-collapse: collapse;
}

#rtian-calendar[theme="block"] table {
    border-collapse: separate;
    border-spacing: 2px;
    font-size: 1em;
}



#rtian-calendar th,
#rtian-calendar td {
    cursor: default;
}

#rtian-calendar .week {
    font-weight: normal;
    box-sizing: border-box;
}

#rtian-calendar .day {
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #f5f5f5;
    color: #ccc;
    position: relative;
}

#rtian-calendar .day.cday {
    /* background-color: #f6f6f6; */
    color: #123;
    /* transition: all 0.2s; */
}

#rtian-calendar td.day.cday:not(.active):hover {
    cursor: pointer;
    background: #e0eae0;
}

#rtian-calendar .day.cday.holiday {
    background: #eeeef6;
}

#rtian-calendar .day.cday.holiday::after {
    content: '班';
    display: block;
    width: 1.1em;
    height: 1.1em;
    border-radius: 3px;
    line-height: 1.1em;
    position: absolute;
    top: 0px;
    right: 1px;
    font-size: 0.8em;
    color: #fff;
    background: #191;
}

#rtian-calendar .day.cday.active {
    background-color: #595;
    color: #fff;
}

#rtian-calendar .day.cday.active>span.day-h {
    color: #fff;
}

#rtian-calendar .day.today {
    border: 1px solid #f2f2f2;

}

#rtian-calendar .day.today::before {
    content: '今';
    display: block;
    width: 1.1em;
    height: 1.1em;
    line-height: 1.1em;
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: 0.8em;
    color: #fff;
    background: rgba(105, 105, 255, 0.3);
}

#rtian-calendar .day>span.day-h {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    /* font-family:  "sans-serif","Helvetica","Arial","Microsoft YaHei", "微软雅黑",   "宋体"; */
    font-size: 0.8em;
    text-align: center;
    /* color: #69f; */
    height: 10px;
    line-height: 10px;
    overflow: hidden;
}

#rtian-calendar .cday>span.day-h {
    color: #f80;
}