body {
    background: #f0f0f0;
}

main {
    display: flex;
    height: calc(100vh - 20px);
    width: 1020px;
    margin: 0 auto;
}

aside {
    flex: 0 0 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #abc;
}

aside .calendar-title {
    width: 280px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #99c;
    box-sizing: border-box;
}

aside .duty-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #69e;
    padding-left: 10px;
}

article {
    margin-left: 10px;
    flex: 1;
}

.aside {
    width: 280px;
    border-radius: 5px;
}

.calendar-desc>ol>li {
    padding: 0;
    margin: 5px 0;
    text-align: left;
    color: #999;
}

article {
    display: flex;
    flex-direction: column;
}

.sectiontitle {
    flex: 0 0 40px;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    color: #369;
    padding-left: 10px;
    background: #fff;
    margin-bottom: 10px;
}

#duty-content {
    flex: 1;
    padding: 10px;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    padding: 10px;
}

.sectioncontent {
    border-radius: 5px;
}

.calendarico {
    display: none;
}


/* ==============响应式====================== */
@media screen and (min-width: 800px) and (max-width: 1000px) {
    main {
        max-width: 830px;
    }
}

@media screen and (max-width: 800px) {
    main {
        max-width: 680px;
        min-width: 330px;
    }

    article {
        flex: 1;
        margin: 0;
        width: auto !important;
    }


    .sectiontitle {
        position: relative;
    }

    aside {
        flex: 0 0 250px;
        width: 100%;
        background: #eee;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .aside {
        width: 100%;
    }

    .calendar-title {
        display: none;
    }

    #mycalendar {
        background: #fff;
        margin: 0;
        padding: 10px;
    }

    #mycalendar>div {
        width: 100% !important;
        padding: 0;
        height: 250px !important;
    }

    main {
        width: auto;
        flex-direction: column;
    }

    article {
        width: 100%;
        margin: 0;
    }

    .calendarico {
        display: block;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
    }

    .calendarico>img {
        width: 30px;
    }



}